*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 375px;
  background: #F8F8F8;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: absolute;
  width: 375px;
  background-color: black;
}

h1 {
  font-size: 16px;
  font-weight: bolder;
  line-height: 25px;
}

h3 {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}

.iphone-frame {
  margin: 0 auto;
  position: absolute;
  width: 375px;
  background: white;
}

.status-bar {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  top: 0px;
  position: fixed;
  display: flex;
  z-index: 2;
  width: 375px;
  background: #F8F8F8;
}

.signal {
  position: absolute;
  left: 1.87%;
  right: 94.27%;
  top: 25%;
  bottom: 27.5%;
}

.gs-text {
  position: absolute;
  width: 17px;
  height: 15px;
  left: 22px;
  bottom: 2.5px;
  top: calc(50% - 15px/2);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: normal;
  font-size: 12px;
  font-weight: 600;
  color: #000000;
}

.time {
  position: absolute;
  width: 49px;
  height: 15px;
  left: calc(50% - 49px/2 + 1px);
  top: calc(50% - 15px/2);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: normal;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: #030303;
}

.battery-text {
  position: absolute;
  left: 82.67%;
  right: 8.53%;
  top: calc(50% - 15px/2);
  bottom: 12.5%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: normal;
  font-size: 12px;
  font-weight: 600;
  text-align: right;
  color: #030303;
}

.battery {
  position: absolute;
  left: 92.27%;
  right: 1.2%;
  top: 10%;
  bottom: 22.5%;
}

.primary-screen {
  min-height: 667px;
}

.navbar {
  margin: 20px auto;
  padding: 10px 0 15px 15px;
  position: absolute;
  width: 375px;
  height: 55px;
  background: #F8F8F8;
  box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.3);
}

.arrow-left {
  position: absolute;
  left: 2.76%;
  right: 88.42%;
  top: 31.8%;
  bottom: 26.74%;
}

.fa-chevron-left {
  font-size: 24px;
  color: #007AFF;
}

.fas {
  font-size: 24px;
}

.map-text {
  position: absolute;
  left: 9%;
  right: 66.11%;
  top: 27%;
  bottom: 25%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 22px;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.0241176em;
  color: #007AFF;
}

.back-button:hover {
  opacity: .6;
}

.selected-stop {
  position: absolute;
  width: 176px;
  height: 22px;
  left: calc(50% - 176px/2 - 1.5px);
  top: 22%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 22px;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.0241176em;
  color: #000000;
}

.bus-counter {
  display: inline-block;
  font-weight: 800;
}

.incoming-buses {
  position: absolute;
  width: 165px;
  height: 13px;
  left: 109px;
  top: 65%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 13px;
  font-size: 11px;
  letter-spacing: 0.00636364em;
  color: #000000;
}

.bus-list-container {
  margin: 80px auto;
  position: absolute;
  width: 375px;
  height: auto;
  background: white;
}

.bus-listing {
  position: relative;
  display: inline-block;
  width: 375px;
  height: 78px;
  left: 0px;
}

.bus-listing:hover {
  background-color: #E4E4E4;
  cursor: pointer;
}

.bus-box {
  position: absolute;
  width: 62px;
  height: 62px;
  left: 15px;
  top: 8px;
  border-radius: 13px;
  background: #EFEFF4;
}

.bus-number {
  position: absolute;
  height: 62px;
  width: 62px;
  font-family: "San Francisco Display Thin";
  font-style: normal;
  line-height: 62px;
  font-size: 29px;
  text-align: center;
  color: #111111;
}

.destination-marker {
  position: absolute;
  color: #564343;
  opacity: .75;
  width: 20px;
  height: 20px;
  left: 109px;
  top: 25px;
}

.direction-marker {
  position: absolute;
  color: #564343;
  font-size: 38px;
  font-family: "San Francisco Display Bold";
  opacity: .75;
  width: 35px;
  line-height: 38px;
  height: 38px;
  left: 101px;
  top: 20px;
}

.destination-text {
  position: absolute;
  width: 144px;
  height: 22px;
  left: 140px;
  top: 28px;
  font-family: "San Francisco Display Thin";
  font-weight: 600 !important;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  font-size: 22px;
  letter-spacing: -0.0241176em;
  color: #000000;
}

.destination-small-text {
  font-size: 18px;
}

.time-text {
  position: absolute;
  left: 80.07%;
  right: 2.73%;
  top: 32px;
  bottom: 83.06%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: normal;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.02em;
  color: black;
}

.time-text-low {
  position: absolute;
  left: 80.07%;
  right: 2.73%;
  top: 32px;
  bottom: 83.06%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: normal;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #B82121;
}

.time-icon {
  top: 25px;
  color: #FFD800;
}

.bottom-border {
  content: "";
  display: absolute;
  margin: 0 auto;
  margin-left: 25%;
  width: 67%;
  padding-top: 78px;
  border-bottom: 1px solid #BCBBC1;
}

.selected-route-container {
  height: 180px;
  width: 375px;
  bottom: 0px;
  position: fixed;
  display: flex;
  z-index: 2;
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  border: 0.5px solid #CDCED2;
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.05);
  display: none;
}

.popup-box {
  top: 16px;
  left: 16px;
}

.popup-destination {
  position: absolute;
  left: 94px;
  top: 20px;
  width: 222px;
  height: 24px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  vertical-align: middle;
  font-size: 16px;
  letter-spacing: 0.0175em;
  color: #000000;
}

.popup-subtext {
  position: absolute;
  left: 94px;
  top: 50px;
  width: 222px;
  height: 18px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 18px;
  vertical-align: middle;
  font-size: 15px;
  letter-spacing: -0.016em;
  color: #000000;
}

.close-icon {
  position: absolute;
  top: 16px;
  right: 19px;
  color: #666666;
  opacity: .5;
  cursor: pointer;
}

.go-button {
  position: absolute;
  width: 345px;
  height: 50px;
  top: 102px;
  left: 15px;
  border-radius: 8px;
  background-color: #007AFF;
}

.go-button-main-text {
  position: absolute;
  top: 7px;
  left: 14px;
  width: 317px;
  height: 18px;
  line-height: 18px;
  font-family: "San Francisco Display Semibold";
  font-size: 15px;
  text-align: center;
  color: #FFFFFF;
}

.go-button-sub-text {
  position: absolute;
  top: 24px;
  left: 14px;
  width: 317px;
  height: 18px;
  line-height: 18px;
  font-family: "San Francisco Display Thin";
  font-size: 15px;
  text-align: center;
  color: #FFFFFF;
}

/* Font faces */
@font-face {
  font-family: "San Francisco Display Ultralight";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.svg#San Francisco Display Ultralight") format("svg")
}

@font-face {
  font-family: "San Francisco Display Thin";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.svg#San Francisco Display Thin") format("svg")
}

@font-face {
  font-family: "San Francisco Display Semibold";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.svg#San Francisco Display Semibold") format("svg")
}

@font-face {
  font-family: "San Francisco Display Medium";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.svg#San Francisco Display Medium") format("svg")
}

@font-face {
  font-family: "San Francisco Display Bold";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.svg#San Francisco Display Bold") format("svg")
}

.restaurant-list {
  padding-top: 50px;
  background-color: #DBD9DB;
}

.location {
  border-bottom-width: thin;
  border-bottom-color: grey;
  border-style: solid;
}

.location:hover {
  background-color: #ABAAAB;
}

.content {
  width: 90%;
  margin-left: 3%;
  display: inline-block;
  height: inherit;
  margin-top: 5%;
  margin-bottom: 5%;
}

.arrow {
  width: 3%;
  height: 43px;
  vertical-align: middle;
  display: inline-block;
}
