*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 375px;
  background: #F8F8F8;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: float;
  width: 375px;
  background-color: black;
}

h1 {
  font-size: 16px;
  font-weight: bolder;
  line-height: 25px;
}

h3 {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}

.iphone-frame {
  margin: 0 auto;
  position: float;
  width: 375px;
  background: white;
}

.status-bar {
  margin: 0 auto;
  padding-top: 4px;
  padding-left: 5px;
  padding-right: 5px;
  top: 0px;
  position: fixed;
  display: inline-block;
  height: 20px;
  width: 375px;
  background: #F8F8F8;
}

.status-left {
  display: inline-block;
  height: 16px;
  width: 24%;
}

.status-middle {
  display: inline-block;
  height: 16px;
  width: 50%;
}

.status-right {
  display: inline-block;
  height: 16px;
  width: 24%;
  text-align: right;
}

.signal {
  display: inline-block;
  line-height: 16px;
  vertical-align: middle;

}

.fa-signal {
  font-size: 13px !important;
}

.gs-text {
  display: inline-block;
  width: 22px;
  height: 16px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 16px;
  font-size: 12px;
  font-weight: 600;
  color: #000000;
  vertical-align: middle;
}

.time {
  margin: 0 auto;
  width: 49px;
  height: 15px;
  left: calc(50% - 49px/2 + 1px);
  top: calc(50% - 15px/2);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 16px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: #030303;
  vertical-align: middle;
}

.battery-text {
  display: inline-block;
  width: 35px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 16px;
  font-size: 12px;
  font-weight: 600;
  vertical-align: middle;
  color: #030303;
}

.battery {
  line-height: 16px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
}

.fa-battery-full {
  font-size: 16px !important;
}

.primary-screen {
  min-height: 667px;
  width: 375px;
  margin-top: 5px;
  display: inline-block;
}

.navbar-wrapper {
  width: 375px;
  padding-left: 5px;
  padding-right: 5px;
  background: #F8F8F8;
  box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.3);
  height: 85px;
  float: left;
}

.navbar-1 {
  display: inline-block;
  float: left;
  width: 24%;
  margin-right: 1%;
  height: 85px;
}

.navbar-2 {
  display: inline-block;
  width: 50%;
  text-align: center;
  height: 85px;
}

.arrow-left {
  width: 20px;
  display: inline-block !important;
}

.fa-chevron-left {
  font-size: 24px;
  width: 19px;
  color: #007AFF;
  display: inline-block;
}

.back-button {
  width: 100%;
  height: 24px;
  margin-top: 35.5px;
  margin-bottom: 25.5px;
  display: inline-block !important;
}

.fas {
  font-size: 24px;
  display: inline-block;
}

.map-text {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 22px;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.0241176em;
  color: #007AFF;
  display: inline-block !important;

}

.back-button:hover {
  cursor: pointer;
  opacity: .6;
}

.selected-stop {
  display: inline-block;
  width: 100%;
  height: 22px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 22px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -0.0241176em;
  color: #000000;

  height: 22px;
  margin-top: 30px;
  display: inline-block !important;

}

.bus-counter {
  display: inline-block;
  font-weight: 800;
}

.incoming-buses {
  display: inline-block;
  width: 100%;
  height: 13px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 13px;
  font-size: 11px;
  letter-spacing: 0.00636364em;
  color: #000000;

  height: 13px;
  margin-bottom: 20px;
  display: inline-block !important;
}

.bus-list-container {
  display: inline-block;
  float: left !important;
  width: 375px;
  height: auto;
  background: white;
}

.bus-listing {
  display: inline-block;
  width: 375px;
  height: 78px;
}

.bus-listing:hover {
  background-color: #E4E4E4;
  cursor: pointer;
}

.bus-box-container {
  width: 62px;
  height: 78px;
  margin-left: 14px;
  display: inline-block;
  float: left;
}

.bus-box {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 13px;
  background: #EFEFF4;
}

.bus-number {
  height: 62px;
  width: 62px;
  font-family: "San Francisco Display Thin";
  font-style: normal;
  line-height: 62px;
  font-size: 29px;
  text-align: center;
  color: #111111;
}

.destination-marker {
  color: #564343;
  opacity: .75;
  width: 20px;
  height: 20px;
  left: 109px;
  margin-top: 29px;
  margin-bottom: 29px;
  margin-left: 33px;
  margin-right: 14px;
  display: inline-block;
  float: left;
}

.direction-marker {
  color: #564343;
  font-size: 38px;
  font-family: "San Francisco Display Bold";
  opacity: .75;
  width: 35px;
  line-height: 38px;
  height: 38px;
  left: 101px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  float: left;
  margin-left: 24px;
  margin-right: 5px;
}

.destination-text {
  width: 144px;
  height: 22px;
  left: 140px;
  margin-top: 28px;
  margin-bottom: 28px;
  font-family: "San Francisco Display Thin";
  font-weight: 600 !important;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  font-size: 22px;
  letter-spacing: -0.0241176em;
  color: #000000;
  display: inline-block;
  float: left;
}

.destination-small-text {
  font-size: 18px;
  display: inline-block;
  float: left;
}

.time-text {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: normal;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.02em;
  color: black;
  display: inline-block;
  float: right;
  margin-right: 14px;
}

.time-text-low {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: normal;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #B82121;
  display: inline-block;
  float: right;
  margin-right: 14px;
}

.time-icon {
  top: 25px;
  color: #FFD800;
}

.bottom-border {
  content: "";
  display: absolute;
  margin: 0 auto;
  margin-left: 25%;
  width: 67%;
  padding-top: 78px;
  border-bottom: 1px solid #BCBBC1;
}

.selected-route-container {
  height: 180px;
  width: 375px;
  bottom: 0px;
  position: fixed;
  display: flex;
  z-index: 2;
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  border: 0.5px solid #CDCED2;
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.05);
  display: none;
}

.popup-box {
  display: inline-block;
  margin-top: 16px;
}

.popup-destination {
  float: left;
  display: inline-block;
  margin-left: 16px;
  margin-top: 20px;
  width: 222px;
  height: 24px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  vertical-align: middle;
  font-size: 16px;
  letter-spacing: 0.0175em;
  color: #000000;
}

.popup-subtext {
  float: left;
  display: inline-block;
  margin-left: 16px;
  margin-top: 5px;
  width: 222px;
  height: 18px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 18px;
  vertical-align: middle;
  font-size: 15px;
  letter-spacing: -0.016em;
  color: #000000;
}

.close-icon {
  display: inline-block;
  margin-top: 16px;
  margin-left: 16px;
  color: #666666;
  opacity: .5;
  cursor: pointer;
}

.go-button {
  float: left;
  display: inline-block;
  width: 345px;
  height: 50px;
  margin-top: 32px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 8px;
  background-color: #007AFF;
}

.go-button-main-text {
  float: left;
  display: inline-block;
  margin-top: 7px;
  width: 345px;
  height: 18px;
  line-height: 18px;
  font-family: "San Francisco Display Semibold";
  font-size: 15px;
  text-align: center;
  color: #FFFFFF;
}

.go-button-sub-text {
  float: left;
  display: inline-block;
  width: 345px;
  height: 18px;
  line-height: 18px;
  font-family: "San Francisco Display Thin";
  font-size: 15px;
  text-align: center;
  color: #FFFFFF;
}

/* Font faces */
@font-face {
  font-family: "San Francisco Display Ultralight";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.svg#San Francisco Display Ultralight") format("svg")
}

@font-face {
  font-family: "San Francisco Display Thin";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.svg#San Francisco Display Thin") format("svg")
}

@font-face {
  font-family: "San Francisco Display Semibold";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.svg#San Francisco Display Semibold") format("svg")
}

@font-face {
  font-family: "San Francisco Display Medium";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.svg#San Francisco Display Medium") format("svg")
}

@font-face {
  font-family: "San Francisco Display Bold";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.svg#San Francisco Display Bold") format("svg")
}
